.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  position: fixed;
  flex: 1;
  width: 100%;
  height: 45px;
  left: 0px;
  top: 0px;
  align-items: flex-start;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.App-header img {
  display: inline-block;
  vertical-align: top;
}

.menu {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  overflow: hidden;
  flex: 1;
}

.App-header .menu:first-of-type{
  margin-left: 50px;
}

.menu span {
  line-height: 45px;
  padding: 0 20px;
}

.menu span:after {
  content: '▸';
}

.menu ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  background: #fff;
}

.menu li {
  margin: 0;
  padding: 10px;
  list-style: none;
  background: #fff
}

.menu:hover {
  height: auto;
  overflow: auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.menu:hover span:after{
  content: '▾'
}

.cart {
  display: inline-block;
  height: 100%;
  background: #000;
  position: absolute;
  right: 0;
  top: 0;
}

.cart span {
  line-height: 45px;
  color: white;
  padding: 0 20px;
}

.container-product__main {
  margin: 0 auto;
  margin-top: 65px;
}

.breadcrumbs {
  list-style-type: none;
}

.breadcrumbs > li {
  display: inline-block;
}

.breadcrumbs > li > a {
  color: #000;
  text-decoration: none;
}

.breadcrumbs li:nth-child(n+2):before {
  content: '>';
  margin: 0 10px;
}

.container-product__detail {
  margin: 50px auto 0 auto;
  width: 1100px;
}

.container-product__detail .thumbnails {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.container-product__detail .thumbnails li img {
  margin: 5px 0;
}

.container-product__detail .thumbnails li.selected img {
  border-radius: 50%;
}

.container-product__detail .full-view {
  display: inline-block;
  margin-left: 30px;
  vertical-align: top;
}

.container-product__detail .description {
  display: inline-block;
  margin-left: 25px;
  vertical-align: top;
  width: 400px;
}


.container-product__detail .description h1 {
  font-size: 30pt;
  font-weight: normal;
  height: 220px;
}

.container-product__detail .description strong {
  font-size: 30pt;
}

.button-add-to-cart {
  font-family: 'Ballinger Mono';
  font-size: 15px;
  display: block;
  background: #000;
  width: 100%;
  color: #fff;
  height: 50px;
  margin-top: 75px;
}
