/* Home */

position: relative;
width: 1440px;
height: 787px;

background: #FFFFFF;


/* YEMA > Categoría > Pasillo > Subpasillo > Producto */

position: absolute;
width: 472px;
height: 24px;
left: 14px;
top: 61px;

/* Normal Text (16) */
font-family: Ballinger Mono;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: -0.01em;

color: #000000;



/* Rectangle 2 */

position: absolute;
width: 479px;
height: 640px;
left: 793px;
top: 96px;

background: #FFFFFF;


/* 002-YEMA_PROPS_WEB */

position: absolute;
width: 1440px;
height: 960px;
left: 0px;
top: -54px;

background: url(002-YEMA_PROPS_WEB.jpg);


/* Frame 2 */

position: absolute;
width: 1282px;
height: 650px;
left: 79px;
top: 101px;



/* Frame 1 */

position: absolute;
width: 1442px;
height: 686px;
left: -81px;
top: 0px;

background: #FFFFFF;


/* 002-YEMA_PROPS_WEB */

position: absolute;
width: 1440px;
height: 960px;
left: 0px;
top: -91px;

opacity: 0.1;


/* DetailsCopy */

position: absolute;
width: 480px;
height: 600px;
left: 800px;
top: 35px;

background: #FFFFFF;


/* Texto/Enorme/Redondeado */

position: absolute;
width: 136px;
height: 48px;
left: 11px;
top: 6px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Gray 4 */
background: #BDBDBD;
opacity: 0.5;
border-radius: 20px;


/* Nombre */

position: absolute;
left: 3.64%;
right: 3.64%;
top: 12.5%;
bottom: 12.5%;

font-family: Ballinger Mono;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;



/* Texto/Enorme/Redondeado */

position: absolute;
width: 59px;
height: 48px;
left: 11px;
top: 56px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Gray 4 */
background: #BDBDBD;
border-radius: 20px;


/* de */

position: absolute;
left: 3.64%;
right: 3.64%;
top: 12.5%;
bottom: 12.5%;

font-family: Ballinger Mono;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
/* identical to box height */
display: flex;
align-items: center;

color: #FFFFFF;



/* Texto/Enorme/Rectangulo */

position: absolute;
width: 162px;
height: 48px;
left: 11px;
top: 106px;



/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Gray 4 */
background: #BDBDBD;
opacity: 0.5;


/* Producto */

position: absolute;
left: 3.64%;
right: 3.64%;
top: 12.5%;
bottom: 12.5%;

font-family: Ballinger Mono;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
/* identical to box height */
display: flex;
align-items: center;

color: #000000;



/* Reviews */

position: absolute;
width: 96.39px;
height: 44px;
left: 373px;
top: 54px;



/* Reviews */

position: absolute;
width: 96.39px;
height: 19.65px;
left: 373px;
top: 54px;



/* Star */

position: absolute;
width: 19.28px;
height: 19.65px;
left: 373px;
top: 54px;



/* Star */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Gray 3 */
background: #828282;


/* Star */

position: absolute;
width: 19.28px;
height: 19.65px;
left: 392.28px;
top: 54px;



/* Star */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Gray 3 */
background: #828282;


/* Star */

position: absolute;
width: 19.28px;
height: 19.65px;
left: 411.56px;
top: 54px;



/* Star */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Gray 3 */
background: #828282;


/* Star */

position: absolute;
width: 19.28px;
height: 19.65px;
left: 430.83px;
top: 54px;



/* Star */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Gray 3 */
background: #828282;


/* Star */

position: absolute;
width: 19.28px;
height: 19.65px;
left: 450.11px;
top: 54px;



/* Star */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Gray 3 */
background: #828282;


/* (25 reseñas) */

position: absolute;
width: 95.24px;
height: 22.79px;
left: 373px;
top: 75.21px;

font-family: Ballinger Mono;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 24px;
/* or 185% */
display: flex;
align-items: center;
letter-spacing: -0.01em;

color: #000000;



/* Heart */

position: absolute;
width: 40px;
height: 40px;
left: 429.33px;
top: 4px;



/* Presentacion */

position: absolute;
width: 130px;
height: 38.67px;
left: 11px;
top: 181px;



/* 000 unit */

position: absolute;
width: 116px;
height: 38.67px;
left: 11px;
top: 181px;

/* Large Text (24) */
font-family: Ballinger Mono;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;

/* Gray 3 */
background: #828282;


/* Open_menu */

position: absolute;
width: 12px;
height: 6px;
left: 129px;
top: 200px;



/* Open_menu */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Gray 3 */
background: #828282;
border-radius: 0.05px;


/* Storytelling corto del producto que cuente sobre lo que es y sus valores */

position: absolute;
width: 456px;
height: 90px;
left: 14px;
top: 416px;

/* Small Text (14) */
font-family: Ballinger Mono;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
/* or 150% */
letter-spacing: -0.01em;

color: #000000;



/* $00.00 */

position: absolute;
width: 171px;
height: 63px;
left: 11px;
top: 220px;

/* Heading 2 (40) */
font-family: Ballinger Mono;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;

color: #000000;



/* $0.00/unidad */

position: absolute;
width: 171px;
height: 29px;
left: 11px;
top: 283px;

/* Caption (18) */
font-family: Ballinger Mono;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
letter-spacing: -0.01em;

/* Gray 2 */
background: #4F4F4F;


/* Button/Secondary/Normal */

position: absolute;
width: 466px;
height: 81px;
left: 8px;
top: 335px;



/* a-button/Primary/Default */

position: absolute;
width: 466px;
height: 81px;
left: 0.33px;
top: 0px;



/* a-button/Primitive/Default */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Focus */

position: absolute;
height: 55px;
left: 0px;
right: 0px;
top: calc(50% - 55px/2);

/* Dark Grey */
border: 2px solid #9A9A9A;
box-sizing: border-box;
border-radius: 30px;


/* Background */

position: absolute;
height: 51px;
left: 2px;
right: 2px;
top: calc(50% - 51px/2);

/* Black */
background: #000000;


/* Button text */

position: absolute;
height: 24px;
left: 26px;
right: 26px;
top: calc(50% - 24px/2 - 0.5px);

/* Normal Text Medium (16) */
font-family: Ballinger Mono;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.01em;

color: #FFFFFF;

border-radius: 8px;


/* Texto/Small/Redondeado */

position: absolute;
width: 165px;
height: 28px;
left: 303px;
top: 126px;



/* Claim Valor */

position: absolute;
width: 63px;
height: 61px;
left: 17px;
top: 512px;



/* Claim Valor */

position: absolute;
width: 63px;
height: 61px;
left: 113px;
top: 512px;



/* Claim Valor */

position: absolute;
width: 63px;
height: 61px;
left: 209px;
top: 512px;



/* Gallery */

position: absolute;
width: 600px;
height: 840px;
left: 350px;
top: 1608px;



/* image */

position: absolute;
width: 600px;
height: 840px;
left: 350px;
top: 1608px;



/* Rectangle */

position: absolute;
width: 600px;
height: 840px;
left: 350px;
top: 1608px;

background: #FFFFFF;


/* Main Image */

position: absolute;
width: 600px;
height: 539px;
left: 350px;
top: 1608px;

background: url(003-YEMA_MANOS_WEB.jpg);


/* Gallery */

position: absolute;
width: 600px;
height: 840px;
left: 350px;
top: 758px;



/* image */

position: absolute;
width: 600px;
height: 840px;
left: 350px;
top: 758px;



/* Main Image */

position: absolute;
width: 600px;
height: 840px;
left: 350px;
top: 758px;



/* Gallery */

position: absolute;
width: 540px;
height: 600px;
left: 249px;
top: 35px;



/* image */

position: absolute;
width: 540px;
height: 600px;
left: 249px;
top: 35px;



/* Main Image */

position: absolute;
width: 540px;
height: 600px;
left: 249px;
top: 35px;

/* Gray 5 */
background: #E0E0E0;
border-radius: 15px;


/* Galeria0 */

position: absolute;
width: 70px;
height: 260px;
left: 165px;
top: 35px;

background: #FFFFFF;


/* item1 */

position: absolute;
width: 70px;
height: 70px;
left: -1px;
top: 1px;



/* Rectangle 2.2 */

position: absolute;
width: 70px;
height: 70px;
left: -1px;
top: 1px;

/* Gray 3 */
background: #828282;
opacity: 0.4;
border-radius: 35px;


/* Image */

position: absolute;
width: 37.69px;
height: 30.15px;
left: 16.15px;
top: 20.46px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Gray 2 */
background: #4F4F4F;


/* Vector */

position: absolute;
left: 13.33%;
right: 6.67%;
top: 8.33%;
bottom: 8.33%;

/* Gray 2 */
background: #4F4F4F;


/* Vector */

position: absolute;
left: 6.67%;
right: 13.33%;
top: 8.33%;
bottom: 8.33%;

/* Gray 2 */
background: #4F4F4F;


/* Vector */

position: absolute;
left: 7.22%;
right: 45.55%;
top: 50%;
bottom: 8.33%;

/* Gray 2 */
background: #4F4F4F;


/* Vector */

position: absolute;
left: 33.71%;
right: 7.22%;
top: 31.27%;
bottom: 24.68%;

/* Gray 2 */
background: #4F4F4F;


/* Vector */

position: absolute;
left: 30%;
right: 50%;
top: 20.83%;
bottom: 54.17%;

/* Gray 2 */
background: #4F4F4F;


/* item2 */

position: absolute;
width: 70px;
height: 70px;
left: 0px;
top: 95px;



/* Image */

position: absolute;
width: 37.69px;
height: 30.62px;
left: 16.15px;
top: 114.69px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Gray 3 */
background: #828282;


/* Vector */

position: absolute;
left: 13.33%;
right: 6.67%;
top: 8.33%;
bottom: 8.33%;

/* Gray 3 */
background: #828282;


/* Vector */

position: absolute;
left: 6.67%;
right: 13.33%;
top: 8.33%;
bottom: 8.33%;

/* Gray 3 */
background: #828282;


/* Vector */

position: absolute;
left: 7.22%;
right: 45.55%;
top: 50%;
bottom: 8.33%;

/* Gray 3 */
background: #828282;


/* Vector */

position: absolute;
left: 33.71%;
right: 7.22%;
top: 31.27%;
bottom: 24.68%;

/* Gray 3 */
background: #828282;


/* Vector */

position: absolute;
left: 30%;
right: 50%;
top: 20.83%;
bottom: 54.17%;

/* Gray 3 */
background: #828282;


/* Rectangle 2.1 */

position: absolute;
width: 70px;
height: 70px;
left: 0px;
top: 95px;

/* Gray 5 */
background: #E0E0E0;
opacity: 0.4;
border-radius: 10px;


/* item3 */

position: absolute;
width: 70px;
height: 70px;
left: 0px;
top: 190px;



/* Image */

position: absolute;
width: 37.69px;
height: 30.15px;
left: 16.15px;
top: 210.46px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Gray 3 */
background: #828282;


/* Vector */

position: absolute;
left: 13.33%;
right: 6.67%;
top: 8.33%;
bottom: 8.33%;

/* Gray 3 */
background: #828282;


/* Vector */

position: absolute;
left: 6.67%;
right: 13.33%;
top: 8.33%;
bottom: 8.33%;

/* Gray 3 */
background: #828282;


/* Vector */

position: absolute;
left: 7.22%;
right: 45.55%;
top: 50%;
bottom: 8.33%;

/* Gray 3 */
background: #828282;


/* Vector */

position: absolute;
left: 33.71%;
right: 7.22%;
top: 31.27%;
bottom: 24.68%;

/* Gray 3 */
background: #828282;


/* Vector */

position: absolute;
left: 30%;
right: 50%;
top: 20.83%;
bottom: 54.17%;

/* Gray 3 */
background: #828282;


/* Rectangle 2 */

position: absolute;
width: 70px;
height: 70px;
left: 0px;
top: 190px;

/* Gray 5 */
background: #E0E0E0;
opacity: 0.4;
border-radius: 10px;


/* Header */

position: absolute;
width: 1440px;
height: 45px;
left: 0px;
top: 0px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* bg-header */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* White */
background: #FFFFFF;
/* Elevation white */
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);


/* YEMA-Horizontal */

position: absolute;
left: 0.97%;
right: 88.19%;
top: 11.11%;
bottom: 11.11%;

background: #FFFFFF;


/* Logo */

position: absolute;
width: 155.42px;
height: 34.43px;
left: 0.32px;
top: 0.15px;



/* Fill 1 */

position: absolute;
left: 8.58%;
right: 85.51%;
top: 32.31%;
bottom: 32.76%;

background: #1B1A19;


/* Fill 2 */

position: absolute;
left: 32.97%;
right: 62.58%;
top: 32.31%;
bottom: 32.76%;

background: #1B1A19;


/* Fill 3 */

position: absolute;
left: 47.51%;
right: 29.96%;
top: 0.43%;
bottom: 1.21%;

background: #1B1A19;


/* Path */

position: absolute;
left: 47.51%;
right: 29.96%;
top: 0.43%;
bottom: 1.21%;



/* Path */

position: absolute;
left: 47.86%;
right: 30.31%;
top: 1.96%;
bottom: 2.74%;



/* Fill 4 */

position: absolute;
left: 56.27%;
right: 38.68%;
top: 32.31%;
bottom: 32.75%;

background: #1B1A19;


/* Fill 5 */

position: absolute;
left: 0.2%;
right: 77.27%;
top: 0.43%;
bottom: 1.21%;

background: #1B1A19;


/* Path */

position: absolute;
left: 0.2%;
right: 77.27%;
top: 0.43%;
bottom: 1.21%;



/* Path */

position: absolute;
left: 0.55%;
right: 77.61%;
top: 1.96%;
bottom: 2.74%;



/* Fill 6 */

position: absolute;
left: 79.5%;
right: 14.59%;
top: 32.31%;
bottom: 32.75%;

background: #1B1A19;


/* Path */

position: absolute;
left: 80.93%;
right: 16.02%;
top: 34.23%;
bottom: 44.86%;



/* Path */

position: absolute;
left: 79.5%;
right: 14.59%;
top: 32.31%;
bottom: 32.75%;



/* Fill 7 */

position: absolute;
left: 23.84%;
right: 53.63%;
top: 0.43%;
bottom: 1.21%;

background: #1B1A19;


/* Path */

position: absolute;
left: 23.84%;
right: 53.63%;
top: 0.43%;
bottom: 1.21%;



/* Path */

position: absolute;
left: 24.18%;
right: 53.98%;
top: 1.96%;
bottom: 2.74%;



/* Fill 8 */

position: absolute;
left: 71.19%;
right: 6.28%;
top: 0.43%;
bottom: 1.21%;

background: #1B1A19;


/* Path */

position: absolute;
left: 71.19%;
right: 6.28%;
top: 0.43%;
bottom: 1.21%;



/* Path */

position: absolute;
left: 71.54%;
right: 6.63%;
top: 1.96%;
bottom: 2.74%;



/* Fill 9 */

position: absolute;
left: 95.73%;
right: 0.17%;
top: 17.51%;
bottom: 64.38%;

background: #1B1A19;


/* Path */

position: absolute;
left: 97.4%;
right: 1.71%;
top: 22.87%;
bottom: 73.65%;



/* Path */

position: absolute;
left: 97.1%;
right: 1.36%;
top: 21.69%;
bottom: 68.56%;



/* Path */

position: absolute;
left: 96.02%;
right: 0.45%;
top: 18.79%;
bottom: 65.64%;



/* Path */

position: absolute;
left: 95.73%;
right: 0.17%;
top: 17.51%;
bottom: 64.38%;



/* Cart_button */

position: absolute;
left: 88.33%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 2 */

position: absolute;
left: 88.33%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Carrito */

position: absolute;
left: 92.99%;
right: 1.25%;
top: 22.22%;
bottom: 24.44%;

/* Medium Text (20) */
font-family: Ballinger Mono;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: -0.01em;

color: #FFFFFF;



/* action/cart */

position: absolute;
left: 88.68%;
right: 8.82%;
top: 8.89%;
bottom: 11.11%;



/* Union */

position: absolute;
left: 12.5%;
right: 10.37%;
top: 16.67%;
bottom: 16.67%;

background: #FFFFFF;


/* Added */

position: absolute;
left: 90.28%;
right: 8.47%;
top: 2.22%;
bottom: 57.78%;



/* Ellipse */

position: absolute;
left: 90.28%;
right: 8.47%;
top: 2.22%;
bottom: 57.78%;

background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;


/* 1 */

position: absolute;
left: 90.76%;
right: 8.96%;
top: 13.33%;
bottom: 68.89%;

font-family: Ballinger Mono;
font-style: normal;
font-weight: 500;
font-size: 6px;
line-height: 24px;
/* or 400% */
display: flex;
align-items: center;
letter-spacing: -0.01em;

color: #000000;



/* Categoria Alimentos */

position: absolute;
left: 15.07%;
right: 77.99%;
top: 22.22%;
bottom: 24.44%;



/* Categoría */

position: absolute;
left: 15.07%;
right: 78.96%;
top: 22.22%;
bottom: 24.44%;

/* Normal Text (16) */
font-family: Ballinger Mono;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
letter-spacing: -0.01em;

color: #000000;



/* Open_menu */

position: absolute;
left: 21.39%;
right: 77.99%;
top: 48.89%;
bottom: 41.11%;



/* Open_menu */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;
border-radius: 0.05px;


/* Categoria Cuidado Personal */

position: absolute;
left: 30.76%;
right: 62.36%;
top: 22.22%;
bottom: 24.44%;



/* Categoría */

position: absolute;
width: 86px;
height: 24px;
left: 443px;
top: 10px;

/* Normal Text (16) */
font-family: Ballinger Mono;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: -0.01em;

color: #000000;



/* Open_menu */

position: absolute;
width: 9px;
height: 4.5px;
left: 533px;
top: 22px;



/* Open_menu */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;
border-radius: 0.05px;
